<section class="pt-5" id="contato">

  <h2 class="secao__titulo mt-5 text-center display-4 fw-bold">Entre em contato conosco:</h2>
  <div class="container-fluid ">
    <div class="row  justify-content-center ">
      <form class="row g-3 mx-5 mb-5 col-12 col-lg-6">
        <div class="col-12">
          <label for="nome" class="form-label">Nome / Razão Social</label>
          <input type="text" class="form-control" id="nome" placeholder="Digite seu nome">
        </div>
        <div class="col-12 col-md-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="email@example.com">
        </div>
        <div class="col-12 col-md-6">
          <label for="telefone" class="form-label">Telefone</label>
          <input type="tel" class="form-control" id="telefone" placeholder="(00) 00000-0000">
        </div>
        <div class="col-12">
          <label for="assunto" class="form-label">Assunto do Contato</label>
          <input type="text" class="form-control" id="assunto" placeholder="Informe o assunto do contato.">
        </div>
        <div class="col-md-12">
          <label for="mensagem" class="form-label">Mensagem</label>
          <textarea class="form-control" id="mensagem" placeholder="Deixe aqui sua mensagem."
            style="height: 10rem;"></textarea>
        </div>
        <div class="col-12">
          <button type="submit" class="btn contato__botao-enviar">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</section>
