
#contato .form-label{
  color: #3ad6ba;
}

.contato__botao-enviar{
  background-color: #3ad6ba;
  font-weight: 700;
}

.contato__botao-enviar:hover{
  background-color: #3ad6ba;
  border-color: #3ad6ba;
  color: white;

}
.secao__titulo{
  color: #3ad6ba;
  font-family:'Zilla Slab', serif;
}
