.cabec{
  background-color: #3ad6ba;
  color:  #1c2838;
  font-family: 'Zilla Slab', serif;;
  font-weight: 700;
  font-size: 1.5rem;

}
.cabec__nav{
  background-color: inherit;
}
.cabec__nav--logo{
  font-size: 2rem;
  padding: 0%;

}
.btn-hamburguer{

}
