<header class="cabec">
  <nav class="navbar navbar-expand-lg fixed-top container-fluid cabec__nav">
    <div class="container-fluid justify-content-start gap-3 cabec__nav--container">
      <button class="btn btn-dark btn-hamburguer" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Menu
      </button>

      <a class="navbar-brand cabec__nav--logo" href="/arealogada/homeinterno">PIE</a>

      <div>
        <h4>Olá [INSERIR nome do usuario]</h4>
      </div>
    </div>
  </nav>
</header>
