<form class="px-4 py-3  cabec__cadastro--formulario">
  <div class="mb-3">
      <label for="cpf" class="form-label">CPF</label>
      <input type="text" class="form-control" name="cpf" id="cpf"
          placeholder="000.000.000-00">
  </div>
  <div class="mb-3">
      <label for="senha-cadastro" class="form-label">Senha</label>
      <input type="password" class="form-control" name="senha-cadastro" id="senha-cadastro"
          placeholder="Digite sua senha">
  </div>

  <button type="submit"
      class="btn btn-dark text-white login__botao-entrar">Cadastrar</button>
</form>
