
<div class="text-center mt-5 fw-bolder"  *ngIf="!listaDeProdutos[0]">
  <p><i class="bi bi-exclamation-circle-fill"></i>Sem eventos cadastrados.</p>
</div>

<div class="mt-2 container"  *ngIf="listaDeProdutos[0]">
  <div class="row">
    <div class="col-4"  *ngFor="let produto of listaDeProdutos | paginate: { itemsPerPage: 12, currentPage: pageAtual, totalItems: listaDeProdutos.length}">
  <div class="bg-light  p-2 mb-3 rounded" >
    <div class="d-flex justify-content-between align-items-center mx-2">
      <h5 class="m-0">{{produto.nomeProduto}}</h5>
      <div class="d-flex gap-3">
      <button class="btn btn-sm btn-success fs-5" (click)="adicionaAoCarrinho()"><i class="bi bi-cart-plus-fill"></i></button>
    </div>
    </div>
    <hr class="m-2">
    <div class="m-0 p-0 row">
    <div class="col-4"><img class="imgProduto"></div>
    <div class="col-8 p-0">
    <table class="table table-sm">
      <tbody>
        <tr>
          <td colspan="2"><strong>Descrição:</strong> {{produto.descricao}} </td>
        </tr>

        <tr>
          <td><strong>Preço: </strong>{{produto.precoUnitario |  currency:'R$' }}</td>
        </tr>
        <tr>
          <td><strong>Loja: </strong>{{produto.loja}}</td>
        </tr>


      </tbody>
    </table>
  </div>
  </div>

</div>
</div>
</div>
<div class="d-flex justify-content-center">
<pagination-controls class="minha-paginacao" (pageChange)="pageAtual = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
</div>
</div>
