<div class="multiStepForm-container vh-80 d-flex container-fluid p-0">

    <div class="form-img d-flex vw-25 justify-content-center align-items-center p-4 rounded-start">
        <img  src="assets/img/ImgsForms/configuracaoPrimeiroAcesso.svg" alt="entre e explore um avanço em sua educação" class="w-100"/>
    </div>

    <div class="form d-flex w-100 justify-content-center align-items-center flex-column bg-white p-4 rounded-end container-fluid">
        <form id="multiStepForm" (ngSubmit)="submit(this.multiStep.value.detalhesInstituicao)" [formGroup]="multiStep" #formDir="ngForm">

            <div class="step-1-wrapper justify-content-center align-items-center w-100" *ngIf="steps==0" >
                <div class="form-header mb-4">
                    <div class="title">
                        <h1 class="">Configuração de Primeiro Acesso</h1>
                    </div>
                </div>

                <div class="input-group p-3 d-flex align-content-center ">
                    <div class="col-12 m-3 input">
                        <label for="email" class="form-label">Digite o nome da instituição</label>
                        <input
                        type="text"
                        class="form-control"
                        id="nameInstituicao"
                        name="nameInstituicao"
                        formControlName="nameInstituicao"
                        placeholder="Digite o nome da instituição"
                        required
                        />
                    </div>

                    <div class="alert alert-danger small email-alert w-100 mt-4 rounded" *ngIf="nameInstituicao.invalid && formDir.submitted" role="alert">
                        É obrigatorio nome para instituição
                    </div>
    

                    <div class="col-12 m-3 input">
                        <label for="password" class="form-label">Digite o Nome do Dono/Gestor</label>
                        <input
                        type="text"
                        class="form-control"
                        id="ceo"
                        name="ceo"
                        formControlName="ceo"
                        placeholder="Digite o CNPJ da instituição"
                        required
                        />
                    </div>
                    
                    <div class="alert alert-danger small email-alert w-100 mt-4 rounded" *ngIf="ceo.invalid && formDir.submitted" role="alert">
                        É obrigatorio o nome do Dono Da instituição
                    </div>
                    
                    <div class="d-flex flex-row-reverse w-100 " >
                        <button type="#" action="#" class="entrar btn btn-primary mt-4 w-50" (click)="next()">Proximo</button>
                    </div>
                </div>
            </div> 

            <div class="step-1-wrapper" *ngIf="steps==1" >

                <div class="form-header mb-4">
                    <div class="title">
                        <h1 class="">Estamos Na Metade</h1>
                    </div>
                </div>

                <div class="input-group p-4 w-100">
                    <div class="col-6 input-2 cnpj sm-col-12">
                        <label for="cnpj" class="form-label">Digite o CNPJ</label>
                        <input
                        type="text"
                        class="form-control"
                        id="cnpj"
                        name="cnpj"
                        formControlName="cnpj"
                        placeholder="Digite o CNPJ"
                        required
                        />
                    </div>

                    <div class="col-6 input-2">
                        <label for="razaoSocial" class="form-label">Digite a Razão Social</label>
                        <input
                        type="text"
                        class="form-control"
                        id="razaoSocial"
                        name="razaoSocial"
                        formControlName="razaoSocial"
                        placeholder="Digite a Razão Social"
                        required
                        />
                    </div>

                    <div class="col-6 alert alert-danger small email-alert w-100 mt-4 rounded alert-diminuido mais-pra-direita" *ngIf="cnpj.invalid && formDir.submitted" role="alert">
                        É obrigatorio o cnpj da instituição
                    </div>


                    <div class="col-6 input-2 mr-1 alert alert-danger small email-alert w-100 mt-4 rounded alert-diminuido" *ngIf="razaoSocial.invalid && formDir.submitted" role="alert">
                        É obrigatorio a razão social da instituição
                    </div>

                    <div class="col-6 input-2 mr-1 municipal">
                        <label for="inscricaoMunicipal" class="form-label">Digite sua Inscrição Municipal</label>
                        <input
                        type="text"
                        class="form-control"
                        id="inscricaoMunicipal"
                        name="inscricaoMunicipal"
                        formControlName="inscricaoMunicipal"
                        placeholder="Digite sua Inscrição Municipal"
                        required
                        />
                    </div>

                    
                    <div class="col-6 input-2">
                        <label for="autorizacaoMec" class="form-label">Digite sua Autorização do MEC</label>
                        <input
                        type="text"
                        class="form-control"
                        id="autorizacaoMec"
                        name="autorizacaoMec"
                        formControlName="autorizacaoMec"
                        placeholder="Digite sua Autorização do MEC"
                        required
                        />
                    </div>


                    <div class="alert alert-danger small email-alert w-100 mt-4 rounded alert-diminuido mais-pra-direita" *ngIf="inscricaoMunicipal.invalid && formDir.submitted" role="alert">
                        É obrigatorio a Inscrição Municipal da instituição
                    </div>

                    <div class="alert alert-danger small email-alert w-100 mt-4 rounded alert-diminuido" *ngIf="autorizacaoMec.invalid && formDir.submitted" role="alert">
                        É obrigatorio a autorização do MEC da instituição
                    </div>

                    <div class="w-100 col-12 d-flex botoes">
                        <div class="d-flex flex-row w-100">
                            <button type="#" action="#" class="retornar btn btn-danger mt-4 w-50" (click)="previous()">Retornar</button>
                        </div>

                        <div class="d-flex flex-row-reverse w-100">
                            <button type="#" action="#" class="entrar btn btn-primary mt-4 w-50" (click)="next()">Proximo</button>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="step-1-wrapper" *ngIf="steps==2" >

                <div class="form-header mb-4">
                    <div class="title">
                        <h1 class="">Quase Terminando</h1>
                    </div>
                </div>

                <div class="input-group p-4 w-100">
                    <div class="col-12">
                        <label for="email" class="form-label">Digite o Email da instituição</label>
                        <input
                        type="text"
                        class="form-control"
                        id="emailInstituicao"
                        name="emailInstituicao"
                        formControlName="emailInstituicao"
                        placeholder="Digite o Email da instituição"
                        required
                        />
                    </div>

                    <div class="alert alert-danger small email-alert w-100 mt-4 rounded" *ngIf="emailInstituicao.invalid && formDir.submitted" role="alert">
                        É obrigatorio inserir um email para a instituição
                    </div>

                    <div class="col-6 input-2 telefone">
                        <label for="password" class="form-label">Digite o Telefone Comercial</label>
                        <input
                        type="text"
                        class="form-control"
                        id="telefoneComercial1"
                        name="telefoneComercial1"
                        formControlName="telefoneComercial1"
                        placeholder="Digite o Telefone Comercial"
                        required
                        />
                    </div>

                    <div class="col-6 input-2">
                        <label for="razaoSocial" class="form-label">Telefone Comercial - 2 <small>*Não Obrigatorio</small></label>
                        <input
                        type="text"
                        class="form-control"
                        id="telefoneComercial2"
                        name="telefoneComercial2"
                        formControlName="telefoneComercial2"
                        placeholder="Digite caso queira um segundo telefone"
                        required
                        />
                    </div>

                    <div class="alert alert-danger small email-alert w-100 mt-4 rounded " *ngIf="telefoneComercial1.invalid && formDir.submitted" role="alert">
                        É obrigatorio inserir pelo menos um telefone para a instituição
                    </div>

                    <div class="w-100 col-12 d-flex botoes">
                        <div class="d-flex flex-row w-100">
                            <button type="#" action="#" class="retornar  btn btn-danger mt-4 w-50" (click)="previous()">Retornar</button>
                        </div>

                        <div class="d-flex flex-row-reverse w-100">
                            <button type="#" action="#" class="entrar btn btn-primary mt-4 w-50" (click)="next()" >Proximo</button>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="step-1-wrapper" *ngIf="steps==3" >

                <div class="form-header mb-4">
                    <div class="title">
                        <h1 class="">Este é o fim</h1>
                    </div>
                </div>

                <div class="input-group p-4 w-100">
                    <div class="col-12">
                        <label for="plano" class="form-label">Escolha um Plano</label>
                        <select
                        type="text"
                        class="form-control"
                        id="plano"
                        name="plano"
                        formControlName="plano"
                        placeholder="Escolha um Plano"
                        required
                        >
                        <option *ngFor="let n of planos">{{ n }}</option>
                        </select>
                    </div>

                    <div class="alert alert-danger small email-alert w-100 mt-4 rounded" *ngIf="telefoneComercial1.invalid && formDir.submitted" role="alert">
                        É obrigatorio escolher o plano para a instituição
                    </div>

                    <div class="w-100 col-12 d-flex botoes">
                        <div class="d-flex flex-row w-100">
                            <button type="#" action="#" class="retornar btn btn-danger mt-4 w-50" (click)="previous()">Retornar</button>
                        </div>

                        <div class="d-flex flex-row-reverse w-100">
                            <button type="submit" action="#" class="entrar btn btn-primary mt-4 w-50" >Enviar</button>
                        </div>
                    </div>
                </div>
            </div> 


        </form>

    </div>
</div>