<div class="multiStepForm-container vh-80 d-flex container-fluid p-0">

    <div class="form-img d-flex vw-25 justify-content-center align-items-center p-4 rounded-start">
        <img  src="assets/img/ImgsForms/configuracaoPrimeiroAcesso.svg" alt="entre e explore um avanço em sua educação" class="w-100"/>
    </div>

    <div class="form d-flex w-100 justify-content-center align-items-center flex-column bg-white p-5 rounded-end">
        <form id="multiStepForm">

            <div class="step-1-wrapper ">
                <div class="form-header mb-4">
                    <div class="title">
                        <h1 class="">Configuração de Primeiro Acesso</h1>
                    </div>
                </div>

                <div class="input-group p-3">
                    <div class="col-5 m-3">
                        <label for="email" class="form-label">Digite o nome da instituição</label>
                        <input
                        type="text"
                        class="form-control"
                        id="nameInstituicao"
                        name="nameInstituicao"
                        formControlName="nameInstituicao"
                        placeholder="Digite o nome da instituição"
                        required
                        />
                    </div>

                    <div class="col-5 m-3">
                        <label for="password" class="form-label">Digite o CNPJ da instituição</label>
                        <input
                        type="text"
                        class="form-control"
                        id="CNPJ"
                        name="CNPJ"
                        formControlName="CNPJ"
                        placeholder="Digite o CNPJ da instituição"
                        required
                        />
                    </div>

                    <div class="col-5 m-3">
                        <label for="razaoSocial" class="form-label">Digite a Razão Social</label>
                        <input
                        type="text"
                        class="form-control"
                        id="razaoSocial"
                        name="razaoSocial"
                        formControlName="razaoSocial"
                        placeholder="Digite sua Razão Social"
                        required
                        />
                    </div>

                    <div class="col-5 m-3">
                        <label for="password" class="form-label">Digite sua Inscrição Municipal</label>
                        <input
                        type="text"
                        class="form-control"
                        id="inscricaoMunicipal"
                        name="inscricaoMunicipal"
                        formControlName="inscricaoMunicipal"
                        placeholder="Digite sua Inscrição Municipal"
                        required
                        />
                    </div>
                    
                    <div class="d-flex flex-row-reverse w-100">
                        <button type="#" action="#" class="entrar btn btn-primary mt-4 w-25">Proximo</button>
                    </div>
                </div>
            </div> 

            <div class="step-1-wrapper">

                <div class="form-header mb-4">
                    <div class="title">
                        <h1 class="">Estamos Na Metade</h1>
                    </div>
                </div>

                <div class="input-group p-3">
                    <div class="col-5 m-3">
                        <label for="email" class="form-label">Digite o nome da instituição</label>
                        <input
                        type="text"
                        class="form-control"
                        id="nameInstituicao"
                        name="nameInstituicao"
                        formControlName="nameInstituicao"
                        placeholder="Digite o nome da instituição"
                        required
                        />
                    </div>

                    <div class="col-5 m-3">
                        <label for="password" class="form-label">Digite o CNPJ da instituição</label>
                        <input
                        type="text"
                        class="form-control"
                        id="CNPJ"
                        name="CNPJ"
                        formControlName="CNPJ"
                        placeholder="Digite o CNPJ da instituição"
                        required
                        />
                    </div>

                    <div class="col-5 m-3">
                        <label for="razaoSocial" class="form-label">Digite a Razão Social</label>
                        <input
                        type="text"
                        class="form-control"
                        id="razaoSocial"
                        name="razaoSocial"
                        formControlName="razaoSocial"
                        placeholder="Digite sua Razão Social"
                        required
                        />
                    </div>

                    <div class="col-5 m-3">
                        <label for="password" class="form-label">Digite sua Inscrição Municipal</label>
                        <input
                        type="text"
                        class="form-control"
                        id="inscricaoMunicipal"
                        name="inscricaoMunicipal"
                        formControlName="inscricaoMunicipal"
                        placeholder="Digite sua Inscrição Municipal"
                        required
                        />
                    </div>

                    <div class="d-flex flex-row w-50">
                        <button type="#" action="#" class="entrar btn btn-primary mt-4 w-25">Retornar</button>
                    </div>

                    <div class="d-flex flex-row-reverse w-50">
                        <button type="#" action="#" class="entrar btn btn-primary mt-4 w-25">Proximo</button>
                    </div>
                </div>
            </div> 


        </form>
    </div>
</div>