<div class="modal fade" id="modalReserva" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Realizar Inscrição</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p  *ngIf="!temNecessidadeDeReserva">Confirma que quer participar desse Evento?</p>
        <p  *ngIf="temNecessidadeDeReserva">Escolha seu assento e confirme a sua participação nesse evento:</p>


        <app-layout-reserva-evento [dadosModal]="dadosModal" [listaNovasReservas]="listaNovasReservas" *ngIf="temNecessidadeDeReserva" ></app-layout-reserva-evento>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Desistir</button>
        <button type="button" class="btn btn-success" >Confirmar</button>
      </div>
    </div>
  </div>
</div>
