<section class="secao__banner">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="7000"
    data-bs-touch="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <figure class="carousel-item active">
        <img src="assets/img/Banner-Slide1.png" class=" w-100  banner__imagem"
          alt="Prontos para o próximo Nível? A gente tem a solução certa para dar um upgrade na maneira dos Alunos interagirem com a sua Institução de Ensino.">
        <img src="assets/img/Banner-Slide1-mobile.png" class="w-100  banner__imagem--mobile"
          alt="Prontos para o próximo Nível? A gente tem a solução certa para dar um upgrade na maneira dos Alunos interagirem com a sua Institução de Ensino.">
        <figcaption class="carousel-caption d-none d-md-block">
          <h5 class="banner__imagem--titulo">Prontos para o próximo Nível?</h5>
          <p class="banner__imagem--texto">A gente tem a solução certa para dar um upgrade na maneira
            dos Alunos interagirem com a sua Institução de Ensino.</p>
        </figcaption>
      </figure>
      <figure class="carousel-item">
        <img src="assets/img/Banner-Slide2.png" class=" w-100 banner__imagem"
          alt="A gente se preocupa com TUDO! Para que escolas e alunos se precupem apenas com o essencial...Gestão da vida estudantil não deveria ser um problema.">
        <img src="assets/img/Banner-Slide2-mobile.png" class="w-100  banner__imagem--mobile"
          alt="A gente se preocupa com TUDO! Para que escolas e alunos se precupem apenas com o essencial...Gestão da vida estudantil não deveria ser um problema.">
        <figcaption class="carousel-caption d-none d-md-block">
          <h5 class="banner__imagem--titulo">A gente se preocupa com TUDO!</h5>
          <p class="banner__imagem--texto">Para que escolas e alunos se precupem apenas com o
            essencial...Gestão da vida estudantil não deveria ser um problema.</p>
        </figcaption>
      </figure>
      <figure class="carousel-item">
        <img src="assets/img/Banner-Slide3.png" class="w-100 banner__imagem"
          alt="Deixe-nos ajudá-los a chegar até lá! Vem com a gente escrever esta nova página.">
        <img src="assets/img/Banner-Slide3-mobile.png" class="w-100  banner__imagem--mobile"
          alt="Deixe-nos ajudá-los a chegar até lá! Vem com a gente escrever esta nova página.">
        <figcaption class="carousel-caption d-none d-md-block">
          <h5 class="banner__imagem--titulo">Deixe-nos ajudá-los a chegar até lá!</h5>
          <p class="banner__imagem--texto">Vem com a gente escrever esta nova página.</p>
        </figcaption>
      </figure>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
