<section class="container-fluid pt-5" id="nossos-servicos">

  <h2 class="secao__titulo my-5 text-center display-4 fw-bold">Nossos Serviços</h2>

  <figure class="nossos-servicos-desktop">
    <div class="row justify-content-center">
      <div class="col-2"><img src="assets/img/oculos.png" data-tema="Secretaria"
          class="img-fluid rounded-start nossos-servicos__imagem" alt="Secretaria"></div>
      <div class="col-2"></div>
      <div class="col-2"><img src="assets/img/professora.png" data-tema="Cronograma"
          class="img-fluid rounded-start nossos-servicos__imagem" alt="Cronograma"></div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-2"><img src="assets/img/maça.png" data-tema="Alimentação"
          class="img-fluid rounded-start nossos-servicos__imagem" alt="Alimentação"></div>
      <figcaption class="col-4 m-3 p-0 nossos-servicos__legenda--container">
        <div class="card  h-100 w-100 nossos-servicos__legenda">
          <div class="card-body justify-content-center align-items-center">
            <h5 class="card-title text-center nossos-servicos__imagem-titulo">Curiosos?</h5>
            <p class="card-text text-center nossos-servicos__imagem-texto">Selecione alguns dos
              ícones ao redor, para saber mais sobre alguns de nossos servicos.</p>
          </div>
        </div>
      </figcaption>
      <div class="col-2"><img src="assets/img/livro.png" data-tema="Biblioteca"
          class="img-fluid rounded-start nossos-servicos__imagem" alt="Biblioteca"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2"><img src="assets/img/informatica.png" data-tema="Reservas"
          class="img-fluid rounded-start nossos-servicos__imagem" alt="Reservas"></div>
      <div class="col-2"></div>
      <div class="col-2"><img src="assets/img/transporte.png" data-tema="Transporte"
          class="img-fluid rounded-start nossos-servicos__imagem" alt="Transporte"></div>
    </div>
  </figure>


  <figure class="nossos-servicos-mobile">
    <div class="row justify-content-center">
      <div class="col-4 col-md-3"><img src="assets/img/oculos.png" data-tema="Secretaria"
          class="img-fluid rounded-start nossos-servicos__imagem" alt="..."></div>
      <div class="col-4 col-md-3"><img src="assets/img/maça.png" data-tema="Alimentação"
          class="img-fluid rounded-start nossos-servicos__imagem" alt="..."></div>
      <div class="col-4 col-md-3"><img src="assets/img/professora.png" data-tema="Cronograma"
          class="img-fluid rounded-start nossos-servicos__imagem" alt="..."></div>
    </div>
    <div class="row justify-content-center align-items-center">
      <figcaption class="col-12 m-3 p-0 nossos-servicos__legenda--container">
        <div class="card  h-100 w-100 nossos-servicos__legenda">
          <div class="card-body justify-content-center align-items-center">
            <h5 class="card-title text-center nossos-servicos__imagem-titulo">Curiosos?</h5>
            <p class="card-text text-center nossos-servicos__imagem-texto">Selecione alguns dos
              ícones ao redor, para saber mais sobre alguns de nossos servicos.</p>
          </div>
        </div>
      </figcaption>
    </div>
    <div class="row justify-content-center">
      <div class="col-4 col-md-3"><img src="assets/img/informatica.png" data-tema="Reservas"
          class="img-fluid rounded-start nossos-servicos__imagem" alt="..."></div>
      <div class="col-4 col-md-3"><img src="assets/img/livro.png" data-tema="Biblioteca"
          class="img-fluid rounded-start nossos-servicos__imagem" alt="..."></div>
      <div class="col-4 col-md-3"><img src="assets/img/transporte.png" data-tema="Transporte"
          class="img-fluid rounded-start nossos-servicos__imagem" alt="..."></div>
    </div>
  </figure>

</section>
