.rodape__logo{
  font-weight: 700;
  text-align: end;
  padding-right: 2rem;

}
.rodape{
  background-color:#3ad6ba;
  font-family: 'Zilla Slab', serif;
  align-items: center;
}
.rodape__copy{
  text-align: end;
  padding-right: 2rem;
}
.rodape__endereco{
  border-left: 1px solid #1c2838;
}
