<section class="container fundo-area-logada">
  <h2 class="text-white row pt-4 fs-1">Inscrição em Eventos</h2>
  <div class="row gap-3">

    <div class="col  quadro-listagem-evento fundo-destaque  my-5 rounded">
      <app-lista-reserva-evento (enviaDadosAoModalEvento)="recebeDadosBtnModal($event)" (limpaMemoriaDoModalReservaEvento)="recebeLimpezaMemoriaBtnModal($event)"></app-lista-reserva-evento>
      <app-modal-reserva-evento [dadosModal]="dadosModal" [listaNovasReservas]="listaNovasReservas"></app-modal-reserva-evento>
      <app-modal-cancela-reserva-evento [dadosModal]="dadosModal"></app-modal-cancela-reserva-evento>
    </div>

  </div>

</section>
