<section class="container fundo-area-logada">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="text-white row pt-4 fs-1">Catálogo de Produtos da Lojinha</h2>
    <div>
    <a class="btn btn-sm btn-warning fs-2 mt-4" role="button" href="arealogada/carrinholojinha"><i class="bi bi-cart4"></i></a>
    </div>
  </div>
  <div class="row gap-3">



    <div class="col  quadro-listagem-evento fundo-destaque  my-3 rounded">
      <app-lista-produtos-catalogo-loja></app-lista-produtos-catalogo-loja>
    </div>


  </div>

</section>
