<div class="login-container vh-80 d-flex container-fluid p-0">

    <div class="form-img d-flex w-50 justify-content-center align-items-center p-4 rounded-start">
        <img  src="assets/img/ImgsForms/loginExplore.svg" alt="entre e explore um avanço em sua educação" class="w-100"/>
    </div>

    <div class="form d-flex w-50 justify-content-center align-items-center flex-column bg-white p-4 rounded-end">
        <form (ngSubmit)="submit(this.signinForm.value)" id="form-login" [formGroup]="signinForm" #formDir="ngForm" class="">
            <div class="form-header mb-4">
                <div class="title">
                    <h1 class="">Entre com sua conta</h1>
                </div>
            </div>

            <div class="input-group">
    
                <div class="col-12 mb-3">
                    <label for="email" class="form-label">Digite seu Login</label>
                    <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                    formControlName="email"
                    placeholder="Digite seu Login"
                    required
                    />
                </div>

                <div class="alert alert-danger small email-alert w-100 rounded" *ngIf="email.invalid && formDir.submitted" role="alert">
                    O Login é obrigatorio
                </div>

                <div class="col-12">
                    <label for="password" class="form-label">Digite sua senha</label>
                    <input
                    type="text"
                    class="form-control"
                    id="password"
                    name="password"
                    formControlName="password"
                    placeholder="Digite sua senha"
                    required
                    />
                </div>

                <div class="alert alert-danger small email-alert w-100 mt-4 rounded" *ngIf="password.invalid && formDir.submitted" role="alert">
                    A senha é obrigatoria
                </div>

                <div class="alert alert-danger small email-alert w-100 mt-4 rounded" *ngIf="alert && formDir.submitted" role="alert">
                    Usuario inexistente
                </div>

                <div class="alert alert-danger small email-alert w-100 mt-4 rounded" *ngIf="alertIncorrect && formDir.submitted" role="alert">
                   Email ou Senha Incorretos
                </div>

                <button type="submit" action="#" class="entrar btn btn-primary col-12 mt-4 rounded">Entrar</button>

                <div class="esquecer-btn d-flex flex-row justify-content-between align-items-center mt-4 w-100">
                        <label class="me-5"><a href="/auth/recoverPass" class="link">Esqueceu a senha?</a>
                        </label>
                </div>

                <div class="cadastrar-btn d-flex flex-row justify-content-between align-items-center mt-4 w-100">
                    
                    <div>
                        <label class="me-5">Ainda não possui uma conta ? <a href="/auth/register" class="link">Cadastre-se aqui</a>
                        </label>
                    </div>
                    
                    <a href="/auth/register"><button type="button" class=" btn btn-info rounded">Cadastrar</button></a>
                
                </div>
            </div>
        </form>
    </div>
</div>